services:
  worker:
    depends_on:
      database_postgres:
        condition: service_healthy
      database_mongo:
        condition: service_started
      cache_redis:
        condition: service_started
      queue_rabbitmq:
        condition: service_started
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: backend_worker
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./dist:/app/dist
      - ./logs:/app/logs
    stdin_open: true
    tty: true

  ### DATABASE SERVICE
  database_postgres:
    image: postgres:18
    container_name: backend_database_postgres
    environment:
      - POSTGRES_USER=${DATABASE_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DATABASE_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DATABASE_POSTGRES_NAME}
    ports:
      - '${DATABASE_POSTGRES_PORT}:5432'
    volumes:
      - database_postgres_data:/var/lib/postgresql
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DATABASE_POSTGRES_USER}']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  database_mongo:
    image: mongo:7
    container_name: backend_database_mongo
    restart: always
    ports:
      - '${DATABASE_MONGO_PORT}:27017'
    volumes:
      - database_mongo_data:/data/db
      - database_mongo_config:/data/configdb

  cache_redis:
    image: redis:7
    container_name: backend_cache_redis
    restart: always
    ports:
      - '${CACHE_REDIS_PORT}:6379'
    volumes:
      - cache_redis_data:/data

  queue_rabbitmq:
    image: rabbitmq:3.9-management
    container_name: backend_queue_rabbitmq
    ports:
      - '${QUEUE_RABBITMQ_PORT}:5672'
      - '${QUEUE_RABBITMQ_MANAGEMENT_PORT}:15672'
    environment:
      RABBITMQ_DEFAULT_USER: ${QUEUE_RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${QUEUE_RABBITMQ_PASS}
    volumes:
      - queue_rabbitmq_data:/var/lib/rabbitmq

  ## SONAR_QUBE SERVICES (Optional for worker)
  sonarqube:
    image: sonarqube:community
    container_name: ${PROJECT_NAME}_sonarqube
    depends_on:
      - sonar-db
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://sonar-db:5432/sonar
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar
    ports:
      - '9001:9000'
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_temp:/opt/sonarqube/temp

  sonar-db:
    image: postgres:13
    container_name: ${PROJECT_NAME}_database_sonarqube
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
      POSTGRES_DB: sonar
    volumes:
      - sonar_database:/var/lib/postgresql
      - sonar_database_postgres_data:/var/lib/postgresql/data

volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  sonarqube_temp:
  sonar_database:
  sonar_database_postgres_data:
  database_postgres_data:
  database_mongo_data:
  database_mongo_config:
  cache_redis_data:
  queue_rabbitmq_data:
